.app {
  height: 100vh;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  scrollbar-gutter: stable;
  display: grid;
  grid-template-rows: 80px auto 50px;


}

.content{
  /* background-color: aqua; */
}