.container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1500px auto;
  grid-template-rows: 100%;
  grid-template-areas: ". content .";
}

.content{
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.link{
  color: rgb(2, 132, 246);
}