.container{
  width: 1500px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.container section{
  width: 1400px;
}

.card__match{
  display: grid;
  grid-template-columns: 250px 250px 45px 250px;
  grid-template-rows: 100%;
  column-gap: 10px;
  /* height: 100%; */
  /* width: 100%;
  display: flex;
  flex-direction: row;
  gap: 24px; */
}

.match__team{
  width: "100%";
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  gap: 10px
}