.header {
  height: 100%;
  width: 100%;
  background-color: rgb(120, 175, 237);
  display: grid;
  grid-template-columns: auto 1500px auto;
  grid-template-rows: 100%;
  grid-template-areas: ". navmenu .";
}

.container {
  height: 100%;
  grid-area: navmenu;
  /* background-color: rgb(69, 126, 190); */
  display: grid;
  grid-template-columns: 250px auto 250px;
}

.logo {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}


.text_color_inactive p{
  /* color:red; */
  /* background-color: red; */
  /* position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #fff;
  content: "";
  opacity: 1;
  transition: all 0.3s; */
}

/* .text_color_inactive p:before,
.text_color_inactive p:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #fff;
  content: "";
  opacity: 1;
  transition: all 0.3s;
} */
