.container{
  overflow-y: auto;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1500px auto;
  grid-template-rows: 100%;
  grid-template-areas: ". content .";
}

.content{
  grid-area: content;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 24px;
  /* align-items: center; */
}

.content__tournaments{
  min-height: 350px;
  margin: 25px;
  display: grid;
  /* flex-direction: row; */
  gap: 25px;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  /* flex-wrap: wrap; */
}
